.option-panel {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 20px; /* Gap between items */
    margin-bottom: 0.3cm;
    padding: 40px 50px 35px 50px;
    margin-left: 0px;
    margin-right: 15px;
    margin-top:1px;
}

.option-panel-row {
    display: flex;
    flex-direction: column;
}

/* Add the rest of your existing CSS styles */
/* pages -admin-and all navigation page css */
.admin-panel-body{
    margin: 0.5cm 20% 1cm 20%;
    background-color: #5a7bdca6;
    border-radius: 20px;
    box-shadow: rgba(99, 175, 146, 0.673) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

}
/* heafig admin panel css */
.admin-panel-head{
    font-weight:bolder bold;
    background-color:blanchedalmond;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    
}
.admin-panel-head h1{
    font-weight: bolder;
}
/* home option css */
.option-panel-row a{
    display: block;
    color: white;
    font-weight: 700;
    background-color: #1c3176fd;
    border-radius: 20px;
    text-align: center;
    padding: 50px 0; /* Adjust padding */
    text-decoration: none;
    margin-bottom: 0.5cm;
}
.option-panel-row a:hover{
    color: #1c3176fd;
    font-weight: bold;
    background-color:rgba(255, 228, 196, 0.755); 
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}