/* food panel css */
.food-panel{
    margin: 1.5cm 20% 1.5cm 20%;
    background-color: #5a7bdca6;
    border-radius: 20px;
    box-shadow: rgba(99, 175, 146, 0.673) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    padding: 0px 0px 15px 0px;

}
/* food panel heading css */
.food-panel-heading{
    font-weight:bolder bold;
    background-color:blanchedalmond;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
}
.food-panel-heading h1{
    font-weight: bold;
}
/* food panel all options css */
.food-panel-option{
    display: inline-block;
    margin-top: 0.5cm;
}
.food-panel-option-1{
    display: flex;
}

.add-foodtype{
    display: flex;
    padding: 20px 20px 20px 20px;
    color:white;
    font-weight: bold;
    background-color:#1c3176fd;
    border-radius: 20px;
    text-align: center;
    margin-left: 120px;
}
.add-foodtype:hover{
    color: #1c3176fd;
    font-weight: bold;
    background-color:rgba(255, 228, 196, 0.755); 
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
.edit-foodtype{
    display: flex;
    padding: 20px 20px 20px 20px;
    color:white;
    font-weight: bold;
    background-color:#1c3176fd;
    border-radius: 20px;
    text-align: center;
    margin-left: 100px;

}
.edit-foodtype:hover{
    color: #1c3176fd;
    font-weight: bold;
    background-color:rgba(255, 228, 196, 0.755); 
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.delete-foodtype{
    display: flex;
    padding: 20px 20px 20px 20px;
    color:white;
    font-weight: bold;
    background-color:#1c3176fd;
    border-radius: 20px;
    text-align: center;
    margin-left: 100px;
}
.delete-foodtype:hover{
    color: #1c3176fd;
    font-weight: bold;
    background-color:rgba(255, 228, 196, 0.755); 
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.food-panel-option-2{
    display: flex;
    margin-top: 1cm;
}
.add-fooddata{
    display: flex;
    padding: 20px 40px 20px 40px;
    color:white;
    font-weight: bold;
    background-color:#1c3176fd;
    border-radius: 20px;
    text-align: center;
    margin-left: 120px;
}
.add-fooddata:hover{
    color: #1c3176fd;
    font-weight: bold;
    background-color:rgba(255, 228, 196, 0.755); 
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
.edit-fooddata{
    display: flex;
    padding: 20px 40px 20px 40px;
    color:white;
    font-weight: bold;
    background-color:#1c3176fd;
    border-radius: 20px;
    text-align: center;
    margin-left: 100px;
}
.edit-fooddata:hover{
    color: #1c3176fd;
    font-weight: bold;
    background-color:rgba(255, 228, 196, 0.755); 
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
.delete-fooddata{
    display: flex;
    padding: 20px 40px 20px 40px;
    color:white;
    font-weight: bold;
    background-color:#1c3176fd;
    border-radius: 20px;
    text-align: center;
    margin-left: 100px;
}
.delete-fooddata:hover{
    color: #1c3176fd;
    font-weight: bold;
    background-color:rgba(255, 228, 196, 0.755); 
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}