/* home delete list body css */
.HomeDelList{
    margin-top: 1cm;
    background-color: #5a7bdca6;
    margin-right: 15%;
    margin-bottom: 20%;
    margin-left: 15%;
    border-radius: 20px;
    box-shadow: rgba(99, 175, 146, 0.673) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    align-items: center;

}
/* home delete listc heading css */
.HomeDelList-heading{
    background-color:  blanchedalmond;
    margin-top: 0.1cm;
    margin-bottom: 0.2cm;
    font-weight:bold;
    font-size: large;
    padding: 10px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    box-shadow:  rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
/* home delete list options css */
.HomeDelList-options{
    margin-bottom: 0.5cm;
    padding: 40px 50px 35px 50px;
    margin-left: 0px;
    margin-right: 15px;
    margin-top:1px;
}
.HomeDelList-options ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-gap: 25px; /* Gap between grid items */
}

.HomeDelList-options li {
    list-style: none; /* Remove bullet points */
}

.HomeDelList-options a {
    display: block;
    color: white;
    font-weight: 700;
    background-color: #1c3176fd;
    border-radius: 20px;
    text-align: center;
    padding: 30px 0; /* Adjust padding */
    text-decoration: none;
}
.HomeDelList-options a:hover{
    color: #1c3176fd;
    font-weight: bold;
    background-color:rgba(255, 228, 196, 0.755); 
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}