for table
.orderCont-tkl {
    overflow-y: scroll;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    max-height: 700px;
  }
  
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    small {
      font-size: 0.5em;
    }
  }
  
  .responsive-table {
  
    li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .otable-header {
      background-color: #95a5a6;
      font-size: 1px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    }
    .otable-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    }
    .colo-1 {
      flex-basis: 10%;
    }
    .colo-2 {
      flex-basis: 40%;
    }
    .colo-3 {
      flex-basis: 15%;
    }
    .colo-4 {
      flex-basis: 15%;
    }
    .colo-5{
      flex-basis: 35%;
    }
  
    @media all and (max-width: 767px) {
      .otable-header {
        display: none;
      }
      /* .otable-row {
      } */
      li {
        display: block;
      }
      .colo {
        flex-basis: 100%;
      }
      .colo {
        display: flex;
        padding: 10px 0;
        &:before {
          color: #6c7a89;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }
      }
    }
  }
  
.filter
{
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

/* Add user button */
.add-user-btn{
  padding: 10px 20px;
  background-color:rgb(250, 246, 242);
  color: black;
  /* border: 1px solid black; */
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 7px;
  margin-left: 7px;
  margin: 7px 0px 0px 7px;
  position: relative;
  overflow: hidden;
}

.add-user-btn::before{
  content: '';
  position: absolute;
  left: -101%;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color:black;
  transition: left 0.3s;
  z-index: 0;
}

.add-user-btn:hover::before{
  left: 0%;
}

/* closing button css */
.model3{
  width: 9cm;
  /* background-color: black; */
  background-color: white;
  border-radius: 5px;
}

.modal-overlay1{
  /* background-color: green; */
}

.takeaway-form{
  /* background-color: red; */
  text-align: left;
  padding: 0.5cm 1cm 1cm 1cm;
}

.close-btn{
  position: absolute;
  top: 2.2cm;
  left: 16.3cm;
  font-size: 30px;
  color: black;
  background-color: transparent;
}

.takwaway-headinh-h2{
  margin-bottom: 1cm;
}

.takeaway-name-la{
  margin: 0;
}

input[name=takeaway-name]{
  border: 1px solid gray;
  border-radius: 5px;
}

.takeaway-no-la{
  margin: 0;
  margin-top: 0.5cm;
}

input[name=takeaway-number]{
  border: 1px solid black;
  border-radius: 5px;
}

.takeaway-email-la{
  margin: 0;
  margin-top: 0.5cm;
}

input[name=takeaway-email]{
  border: 1px solid black;
  border-radius: 5px;
}

.takeaway-add-la{
  margin: 0;
  margin-top: 0.5cm;
}

input[name=takeaway-address]{
  border: 1px solid black;
  border-radius: 5px;
}

.save-btn{
  margin-top: 1cm;
}

.dinein-nav{
  text-align: center;
}

.orderNo{
  font-size: large;
  margin: 0;
  font-size: 25px;
}

.pay-cont{
  margin-bottom: 1cm;
}

.track-order-h5{
  text-align: center;
  font-size: 25px;
}

.mainpage-aed h5{
  text-align: right;
}

.orderSummary {  
  overflow: scroll;
}

.food-data{
  margin-left: 1.5cm;
}
.button-incre-decre{
  background-color: none;
  color: yellowgreen;
  padding: 100px ;
}
